<tr>
    <td style="vertical-align: top;">
        <span class="txt-titulo-comite">{COMITE}</span>
        <hr>
        {ESTADO_TAREA_COMITE}
        {FECHA}
    </td>
    <td style="vertical-align: top;"><i class="bi bi-person"></i> <strong>{NOMBRE_LIDER_COMITE}</strong>
        <br>
        <br><i class="bi bi-arrow-right-short"></i>Posici&oacute;n: {POSICION_LIDER_COMITE}
        <br>
        <i class="bi bi-arrow-right-short"></i>Cargo: {CARGO_LIDER_COMITE}
        <br>
        <i class="bi bi-bookmark"></i> Nivel R: {NIVEL_R_LIDER_COMITE}
        <BR><i class="bi bi-journal-text"></i> Elaborado por {NOMBRE_CREADOR_COMITE}
    </td>
    <!--td>
        {ESTADO_TAREA_COMITE}
        {FECHA}</td>-->
    <td style="vertical-align: top;">{GERENTES_R2}</td>
    <td class="text-end" style="vertical-align: top;">{BOTON_VER_COMITE} {BOTON_EDITAR_ELIMINAR_COMITE}</td>
</tr>