<tr>
    <td style="vertical-align: top;">
        <strong>{CARGO}</strong>
        <BR>
            <!--{ESTADO_TAREA_COMITE}-->
        {FECHA}
    </td>
    <td  style="vertical-align: top;">
        <i class="bi bi-arrow-right-short"></i> <strong>{COMITE}</strong>
            <BR>
        <i class="bi bi-person"></i> L&iacute;der: <strong>{NOMBRE_LIDER_COMITE}</strong>
            <!-- Cargo: <strong>{NOMBRE_LIDER_COMITE}</strong>L&iacute;der: <strong>{NOMBRE_LIDER_COMITE}</strong>-->
        <BR> <i class="bi bi-journal-text"></i> Elaborado por {NOMBRE_CREADOR_COMITE}
    </td>
    <td class="text-end" style="WIDTH: 100px;">{BOTON_VER_COMITE}</td>
</tr>