<footer id="dz_main_footer">
	<div id="footer_columns">

		<div class="row">
			<div class="col-md-2 col-sm-2"></div>

			<div class="col-md-8 col-sm-8">
				<div class="widget">
					<h3>Constructora Santafe</h3>
					<div class="contact_info_widget">
						<div class="col-md-4 col-sm-4">
							<br>
							Avenida del Valle Sur 614, oficina 72,
							Ciudad Empresarial, Huechuraba
							Teléfono : +56 2 2248 4919
						</div>
						<div class="col-md-8 col-sm-8">

							<img src="img/sfe_image.png">
						</div>
						
					</div>
				</div>
			</div>

			<div class="col-md-2 col-sm-2"></div>

		</div>

	</div>

</footer>