<footer id="dz_main_footer">
	<div id="footer_columns">

		<div class="row">
			<div class="col-md-2 col-sm-2"></div>

			<div class="col-md-8 col-sm-8">
				<div class="widget">
					<!--<h3>Puntos de Venta</h3>-->
					<div class="contact_info_widget">

						<div class="col-md-4 col-sm-4">
							<br>
							<a target="_blank" href="http://www.fortalezaautos.cl/"><span class="texto_blanco"><span aria-hidden="true" class="icon-globe pad_r"></span>Fortaleza Autos</span></a>
							<br>
							<br>
							<a target="_blank" href="http://www.mahindra.cl/"> <span class="texto_blanco"><span aria-hidden="true" class="icon-globe pad_r"></span>Mahindra</span></a>
							<br>
							<br>
							<a target="_blank" href="http://baic.cl/"> <span class="texto_blanco"><span aria-hidden="true" class="icon-globe pad_r"></span>Baic</span></a>
						</div>
						<div class="col-md-4 col-sm-4">
							<br>
							<a target="_blank" href="http://brilliance.cl/"><span class="texto_blanco"> <span aria-hidden="true" class="icon-globe pad_r"></span>Brilliance</span></a>
							<br>
							<br>
							<a target="_blank" href="http://www.yutong.cl/"><span class="texto_blanco"> <span aria-hidden="true" class="icon-globe pad_r"></span>Yutong</span></a>
							<br>
							

						</div>
						<div class="col-md-4 col-sm-4">
							<br>
							<a target="_blank" href="http://www.yuejin.cl/"><span class="texto_blanco"> <span aria-hidden="true" class="icon-globe pad_r"></span>Yuejin</span></a>
							<br>
							<br>
							
							<a target="_blank" href="http://www.sinotruk.cl/"><span class="texto_blanco"> <span aria-hidden="true" class="icon-globe pad_r"></span>Sinotruck</span></a>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-2 col-sm-2"></div>

		</div>

	</div>

</footer>