<div class="footer">
			
			<div class="main_footer">
				
				<!-- Layout 33x66% -->
				<div class="layout-p-33x66 clear-fix">
					
					<!-- Left column: copyright -->
					<div class="column-left">
						© 2016 <a href="#">Bci Gerencia Capacitación</a>
					</div>
					<!-- /Left column: copyright -->
					
					<!-- Right column: menu -->
					<div class="column-right">
						
 <strong>Mesa de Ayuda</strong>  <i class="icon-phone icons"></i> Anexo 2030 | <i class="icon-envelope-letter  icons"></i> gerenciacapacitacion@bci.cl
					</div>	
					<!-- /Right column: Menu -->
					
				</div>
				<!-- /Layout 33x66% -->
				
			</div>
			
		</div>