<footer id="dz_main_footer">
	<div id="footer_columns">

		<div class="row">
			<div class="col-md-2 col-sm-6">
				<div class="widget">
					<h3></h3>
					<div class="textwidget"></div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="widget rpwe_widget">
					<h3>Datos de Interés</h3>

					<div class="rpwe-block">
						<ul>
							<li>

								<time class="rpwe-time published" datetime="2013-10-01T12:03:57+00:00">
									<span aria-hidden="true" class="icon-call-end"></span>&nbsp;Teléfonos de Prevención de Riesgos: +59  9 92212935
								</time>
								<time class="rpwe-time published" datetime="2013-10-01T12:03:57+00:00">
									<span aria-hidden="true" class="icon-screen-smartphone"></span>&nbsp; + 56 9 63336838
								</time>

							</li>

						</ul>
					</div>

					<div class="rpwe-block">
						<ul>
							<li>

								<time class="rpwe-time published" datetime="2013-10-01T12:03:57+00:00">
									<span aria-hidden="true" class="icon-call-end"></span>&nbsp;Teléfonos de Seguridad: +569-95416198
								</time>
								<time class="rpwe-time published" datetime="2013-10-01T12:03:57+00:00">
									<span aria-hidden="true" class="icon-screen-smartphone"></span>&nbsp; +56 9 83611464
								</time>

							</li>

						</ul>
					</div>

					<div class="rpwe-block">
						<ul>
							<li>

							</li>

						</ul>
					</div>

				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="widget">
					<h3>Sucursales</h3>  
					<div class="contact_info_widget">
						<p>
							<i class="ABdev_icon-home"></i>Las Condes
						</p>

					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6">
				<div class="widget flickr-stream">

				</div>
			</div>
		</div>

	</div>

</footer>