

<footer id="dz_main_footer">



	<div class="center">

		<a href="#top">

		<button type="button" class="btn btn-info">

			Volver Arriba

		</button></a>

	</div>

	<br>

	<br>



	<div id="footer_columns">



		<div class="row">

			<div class="col-md-2 col-sm-6">

				<div class="widget">

					<h3></h3>

					<div class="textwidget"></div>

				</div>

			</div>

			<div class="col-md-4 col-sm-6">

				<div class="widget rpwe_widget">

					<h3>Datos de Interés</h3>



					<div class="rpwe-block">

						<ul>

							<li>



								<time class="rpwe-time published" datetime="2013-10-01T12:03:57+00:00">

									<span aria-hidden="true" class="icon-call-end"></span>&nbsp;Teléfonos Central: (32) 236 1000

								</time>



							</li>



						</ul>

					</div>



					



					<div class="rpwe-block">

						<ul>

							<li>



								<time class="rpwe-time published" datetime="2013-10-01T12:03:57+00:00">

									&nbsp;Dirección: Edificio Tecnopacífico, oficina 701, Blanco 937, Valparaíso, Región de ValparaísoDirección: Edificio Tecnopacífico, oficina 701, Blanco 937, Valparaíso, Región de Valparaíso

								</time>



							</li>



						</ul>

					</div>



					<div class="rpwe-block">

						<ul>

							<li>



							</li>



						</ul>

					</div>



				</div>

			</div>

			<div class="col-md-4 col-sm-6">

				<div class="widget">

					<h3>Dirección</h3>

					<div class="contact_info_widget">

						<p>

							<i class="ABdev_icon-home"></i>Edificio Tecnopacífico, oficina 701, Blanco 937, Valparaíso, Región de Valparaíso

						</p>

						<a href="https://www.google.cl/maps/place/33%C2%B002'25.7%22S+71%C2%B037'32.8%22W/@-33.040475,-71.6279647,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d-33.040475!4d-71.625776" target="_blank"> <img src="img/mapa_taylor.png" border="0"></a>



					</div>

				</div>

			</div>

			<div class="col-md-2 col-sm-6">

				<div class="widget flickr-stream">



				</div>

			</div>

		</div>



	</div>



</footer>

