<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">

  <div class="col-xs-6 col-lg-2 col-md-2">
		<img src="https://bci-cdn.azureedge.net/uploads/997cfef1-4d5c-462d-8b32-bb59e33a011b/original/bci-logo-personas.png" style="    width: 94px;padding-top: 10px;">
	</div>

  <div class="col-xs-6 col-lg-6 col-md-2">
  					<a href="?sw=home_bci_new" class="btn btn-link" style="   padding-top: 20px;">
  					<span style="color: #50748a;">Inicio</span></a>
	</div>
  <!--<div class="col-xs-6 col-lg-4 col-md-2">
					<a href="https://www.google.cl" class="btn btn-link" style="    padding-top: 20px;">
						<span style="color: #50748a;">Salir</span></a>
	</div>	-->
	
	
  <div class="col-xs-6 col-lg-4 col-md-2">
						<div class="media-center width-80 pull-right">
										<img src="{FOTO_PERSONA}" alt="people" class="img-circle width-80"> 
						</div>									
						<div class="txt_up pull-right"><br>{NOMBRE}<br><span class="homecargo">{CARGO}</span></div>
	
	</div>
  </div>
</nav>
