<div id="secondary" class="" style="background: #fff;">    <div class="">        <div class="top-header-thumb">            
	<body>			</div>			<div class="profile-section"></div>			<div class="top-header-author">				
		<a href="#" class="author-thumb"> <img src="{AVATAR}" alt="author">  </a>				<div class="author-content">			
			<h4>{NOMBRE_COMPLETO}</h4>					<div class="show_hidePerfilAvanzando " style="cursor:pointer;" >			
			<center>						<small>{VERMAS_PERFILCOL}</small></span>					</center>				
			</div>			</div>			<div>				<hr>				<div class="">							
			<div class="">								<div class="testi-content">									
				<div class="testi-meta">										<center>	{BIOGRAFIA}  </center> {EDITAR_PERFIL_RECONOCIMIENTOS}	
					<div class="btn-group btn-group ">										
						<span class=" font-blue">Reconocimientos <i class="fas fa-thumbs-up"></i> {NUM_RECONOCIMIENTOS}</span> 
						<!--| <span class=" font-blue"> <i class="icon-emotsmile"></i> {NUM_GRACIAS}</span>-->								
					</small>									</div>								</div>								<hr>								<div class="">									<div class="container_teacher_description">									<p class="teacher_descriere">										<strong>Cargo:</strong> {CARGO}										<br>										<strong>Area:</strong> {LOCAL} {UNIDAD_NEGOCIO}										<br>										<strong>Departamento:</strong> {DEPARTAMENTO}										<br>										<strong>Division:</strong> {DIVISION}										<br>										<br>										<i class="icon-envelope icons"></i> {EMAIL}										<br>									<i class="icon-home icons"></i></i> {SUCURSAL} - {REGIONAL}									<BR>									<i class="icon-phone icons"></i> {ANEXO}									<br>									<i class="icon-screen-smartphone icons"></i> {CELULAR}								</p>							</div>							</div>						{BLOQUE_COLABORADORES}						</div>				</div>			</div>			<br>		</div>	</div></div> 						