<script language="Javascript">
function abrirPagina2(pagina) {
	window.open(pagina,'window','width=650, height=600');
}
</script>

<div class="col-sm-4 col-xs-12">
								<img class="site-logo" src="img/logo_empresa/{ARCHIVO}" alt="Go Partners" />
</div>


<div class="col-sm-8 col-xs-12  pull right">
									<nav class="site-navigation" role="navigation">
				    						<h3 class="menu-toggle">Menú</h3>
                							<div class="menu-main-menu-container">
                									<ul id="menu-main-menu" class="nav-menu pull-right">
										                		 <!--botones dinámicos-->
																 {PESTANAS_HOME}
																 {PESTANAS_CURSOS}
																 {PESTANAS_SGD}
																 {PESTANAS_DNC}
																 {PESTANAS_NOTICIAS}
																 {PESTANAS_BIBLIOTECA}
																 {PESTANAS_GALERIA}
										                         {PESTANA_DINAMICA}
																<!--<li><a href="?sw=help" onclick="abrirPagina(this.href);return false" title="" ><i class="fa fa-bullhorn fa-1x"></i>&nbsp;Ayuda</a></li>-->
																<li><a href="../../{LINK_SALIR}" title=""><i class="fa fa-sign-out"></i>&nbsp;Salir</a></li>	
													</ul></div>		
											</nav>
</div>


   


