
<div class="row small k-equal-height"><!-- row -->
                            
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <ol class="breadcrumb">

									<li><a href="?sw={CASE_HOME}">Inicio</a></li>
                    	<li><a href="?sw=malla">{MALLA}</a></li>
                    	<li><a href="?sw=listado_categorias&i={ID_PROGRAMA_ENCODEADO}">{PROGRAMA}</a></li>
									
									
						</ol>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-12" align="right">
                                   <ol class="breadcrumb">
                    </ol>
                                </div>
                            
                            </div>
							








