<!--<div class="row">
            
                <div id="k-top-search" class="col-lg-12 clearfix">
                
                    <form action="#" id="top-searchform" method="get" role="search">
                        <div class="input-group">
                            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
                        </div>
                    </form>
                    
                    <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div>
                
                </div>
            
            	<div class="k-breadcrumbs col-lg-12 clearfix">
                
                	<ol class="breadcrumb">
                    	<li><a href="?sw=login">SALIR</a></li>
                    	<li><a href="?sw=home">Inicio</a></li>
                    </ol>
                    
                </div>
                
            </div>
			
			
	-->		
			<div class="row small k-equal-height"><!-- row -->
                            
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <ol class="breadcrumb">
                    	<li><a href="?sw={CASE_HOME}">Inicio</a></li>
                    </ol>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-12" align="right">
                                   <ol class="breadcrumb">
                    </ol>
                                </div>
                            
                            </div>
							
							
							