
                
                	<ol class="breadcrumb">
                    	<li><a href="?sw=login">SALIR</a></li>
                    	<li><a href="?sw={CASE_HOME}">Inicio</a></li>
                    	<li><a href="?sw=malla">{MALLA}</a></li>
                    	<li><a href="?sw=listado_categorias&i={ID_PROGRAMA_ENCODEADO}">{PROGRAMA}</a></li>
                    	<li><a href="?sw=listado_cursos&i={ID_NIVEL_ENCODEADO}">{NIVEL}</a></li>
                    	<li><a href="?sw=detalle_curso&i={ID_NIVEL_ENCODEADO}">{CURSO}</a></li>
                    </ol>
                    
           