<!DOCTYPE html>
<html lang="en">
{HEAD}


<style>

.alert {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 0;
    border: 0;
    border: 1px solid;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}

.badge-gray {
    background-color: #d3eaf6;
}
</style>
<body role="document" {FUNCION_ONLOAD}>
    <div id="k-head" class="container">
        <div class="row">
            {MENU_SUPERIOR} {MENU_SECUNDARIO}
        </div>
    </div>
    <div id="k-body">

        <body role="document" {FUNCION_ONLOAD}>

            <body>
                <section id="" class="clear">
                    <div id="anchor1">
                        <div> </div>
                </section>
                <div id="logx"></div>
				<br><br>

			<div class="container">
				<a href="?sw=potencial" class="btn btn-link pull-left" style="display: block;">
					<span style='color: #31708f;'><i class="fas fa-arrow-alt-circle-left"></i> Volver</span></a>
			</div>

                <span class="visible-xs"></span><span class="visible-sm"></span><span class="visible-md"></span><span class="visible-lg"></span>
                <div id="k-head" class="">
                    <div id="k-body">
                        <div class="paddingFull" style="
                            padding-left: 20px;
                            padding-right: 20px;
                        ">
                            <div class="container" align="justify" style="background-color: unset;">
                            

<div class="lms_tituloSeccionHistoriasHome_TitleWinter" style="margin-top: 0px;">
		<center>
			<img src="https://www.paneldeliderazgobci.cl/front/img/widget-link.png"> Mi Equipo
	
		</center>
</div>    

                                </div>
                                <BR>
                                <div class="panel panel-info">
                                    <div class="panel-heading">Mi Equipo</div>
                                    <div class="panel-body" style="border: 1px solid #efefef;">
                                        {COLABORADORES_COMITE_POTENCIAL_TITULO_MIEQUIPO}
                                        {MIS_COLABORADORES_COMITES_POTENCIAL_MIEQUIPO}
                                    </div>
                                </div>
                                

</div>                            
                                

                                <BR>
                                <BR>
                                <!--<center>
                                    {BOTON_SUBIR_NOMINA_COMITE_POTENCIAL}
                                </center>-->
                                <BR>
                                <BR>
                                <BR>
                            </div>
                        </div>


                    </div>
                    <br>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $(".slidingDiv_bloque1").hide();
                            $(".show_hide_bloque1").show();
                            $('.show_hide_bloque1').click(function() {
                                $(".slidingDiv_bloque1").slideToggle();
                            });
                        });
                    </script>
                </div>
                </div>
    </div>
    </div>
    </div>
    </div>
    </div>
   {FOOTER}
    <BR> {BLOQUEFOOTERCONTENIDO}
    <BR> {MENU_INFERIOR}
    <BR>
    </body>

</html>