<center>


    <table width="100%" cellspacing="0" border="1" cellpadding="1px" BORDERCOLOR="#ddd">
        <tr>
            <td valign="top" align="left" style="background-color: #f2fbff; width:25%;border: 1px solid #bce8f1;     padding: 8px;"><span class="step step_info">1</span>
                <!--<center><span class="Box9Number">
            <i class="fa fa-user"></i>        {NUM_1} _ {PORC_1}</span></center>
                <br>-->
                <div class="Box9Y"><div class="row">{1}</div></div>
            </td>
            <td valign="top" align="left" style="background-color: #fafffb; width:50%;border: 1px solid #bce8f1;      padding: 8px;"><span class="step step_success">2</span>
                <!--<center><span class="Box9Number">
            		<i class="fa fa-user"></i>    {NUM_2} _ {PORC_2}</span> </center><br>-->
                <div class="Box9Y"><div class="row">{2}</div></div>
            </td>
            <td valign="top" align="left" style="background-color: #fafffb; width:25%; border: 1px solid #bce8f1;     padding: 8px;"><span class="step step_success">3</span>
                <!--<center><span class="Box9Number">
            <i class="fa fa-user"></i>    {NUM_3} _ {PORC_3}</span> </center>
                <br>-->
                <div class="Box9Y"><div class="row"> {3}</div></div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="background-color: #fbfaf6; padding: 8px;border: 1px solid #bce8f1; "><span class="step step_warning">4</span>
                <!--<center><span class="Box9Number">
            <i class="fa fa-user"></i>    {NUM_4} _ {PORC_4}</span> </center>
                <br>-->
                <div class="Box9Y"><div class="row">{4}</div></div>
            </td>
            <td valign="top" align="left" style="background-color: #f2fbff; border: 1px solid #bce8f1;     padding: 8px;">
                <span class="step step_info">5+</span>
                <!--<center><span class="Box9Number">
                <i class="fa fa-user"></i>       {NUM_10} _ {PORC_10}</span> </center>
                <br>-->
                <div class="Box9Y"><div class="row">{10}</div></div>
                 <br><br>
                <span class="step step_info">5</span>
                <!--<center><span class="Box9Number">
                <i class="fa fa-user"></i>       {NUM_5} _ {PORC_5}</span> </center>
                <br>-->
                <div class="Box9Y"><div class="row">{5}</div></div>
            </td>
            <td valign="top" align="left" style="background-color: #fafffb; border: 1px solid #bce8f1;     padding: 8px;"><span class="step step_success">6</span>
               <!--<center><span class="Box9Number">
            <i class="fa fa-user"></i>    {NUM_6} _ {PORC_6}</span> </center>
                <br>-->
                <div class="Box9Y"><div class="row">{6}</div></div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="background-color: #fffcfc;  border: 1px solid #bce8f1;    padding: 8px;"><span class="step step_danger">7</span>
                <!--<center><span class="Box9Number">
            <i class="fa fa-user"></i>    {NUM_7} _ {PORC_7}</span> </center>
                <br>-->
                <div class="Box9Y"><div class="row">{7}</div></div>
            </td>
            <td valign="top" align="left" style="background-color: #fbfaf6;  border: 1px solid #bce8f1;    padding: 8px;"><span class="step step_warning">8</span>
                <!--<center><span class="Box9Number">
            <i class="fa fa-user"></i>   {NUM_8} _ {PORC_8}</span> </center>
                <br>
                <center>-->
                    <div class="Box9Y"><div class="row">{8}</div></div>
            </td>
            <td valign="top" align="left" style="background-color: #f2fbff;  border: 1px solid #bce8f1;    padding: 8px;"><span class="step step_info">9</span>
                <!--<center> <span class="Box9Number"> <i class="fa fa-user"></i>      {NUM_9} _ {PORC_9}</span></center>
                <br>-->
                <div class="Box9Y"><div class="row">{9}</div></div>
            </td>
        </tr>
        <!-- <tr>
        <td style="background-color: #fff"></td>
        <td style="background-color: #fff"></td>
        <td style="background-color: #fff"></td>
        <td style="background-color: #fff"><img src="img/Box_X.png"></td>
        <td style="background-color: #fff"></td>
    </tr>-->
    </table>
    </center>
 