<div class='row'>
	    <div class='col-sm-4 txt_azul_box'>
        <div class="mt-comment-img">
            <img src="{FOTO_COLABORADOR}" style=" width: 44px;  border-radius: 50%;">
            <span class="mt-comment-author style="font-size: 12px;">{NOMBRE_COLABORADOR}</span>
        </div>
    </div>
    <div class='col-sm-4  txt_azul_box'>
        <div class="mt-comment-img">
            <img src="{FOTO_AUTOR}" style=" width: 44px;  border-radius: 50%;">
            <span class="mt-comment-author">{NOMBRE_AUTOR}</span>
          
        </div>
    </div>

    <div class='col-sm-1 txt_azul_box'>{BOX}</div>
    <div class='col-sm-3 txt_azul_box' style="padding-top: 00px;">
       <span class="mt-comment-authorSM" style='padding-left: 0;'>{COMENTARIO}<br>{FECHA}</span>
      </div>
</div>