
<tr>
	<td>
		<div class="row">
		    <div class="col-sm-4 txt_azul_box"><i class="fas fa-chevron-circle-right"></i> {COMITE}
		    <br>
		    <img src="img/colored-dots.svg" alt=""> 
		    		<span class="txt_azul_box_noPad" style="padding-left: 5px;font-size: 11px;">Creado por {POR_CREADOR_COMITE}</span>
		    </div>
		    <div class="col-sm-2 txt_azul_box_noPad">{FECHA}</div>
		    <div class="col-sm-3 txt_azul_box_noPad" style="font-size:12px">{LIDER}</div>
		    <div class="col-sm-1 txt_azul_box_noPad">{COLABORADORES}</div>
		    <div class="col-sm-2 txt_azul_box_PadRight">{BOTON_VER_COMITE} {BOTON_ELIMINAR_COMITE}</div>
		</div>
	</td>
</tr>