<style>
	.btn {
		display: inline;
	}
</style>

<div class="col-lg-12">
		<div class="mt-comment"                 style="padding-left: 5px;padding-top: 5px;">
		    <div class="mt-comment-img">
		        {BOTON_VER_FICHA_A_inicial}<img src="{AVATAR}"             style="width: 26px;  border-radius: 50%;">{BOTON_VER_FICHA_B_final}
		        {BOTON_VER_FICHA_A_inicial}<span class="mt-comment-authorSM" style="font-size: 12px;">{NOMBRE} {PROPUESTA_MODELO}</span>{BOTON_VER_FICHA_B_final}
		    </div>
		</div>
</div>