<style id="tribe_customizer_css" type="text/css">
    .tribe-events-list .tribe-events-loop .tribe-event-featured, .tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured, .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap, .type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {

        background-color: #0ea0d7;

    }

    #tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {

        background-color: #0ea0d7;

    }

    .tribe-events-list-widget .tribe-event-featured, .tribe-events-venue-widget .tribe-event-featured, .tribe-mini-calendar-list-wrapper .tribe-event-featured, .tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {

        background-color: #0ea0d7;

    }

    .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {

        background-color: rgba(14, 160, 215, .7);

        border-color: #0ea0d7;

    }

    .tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {

        background-color: #0ea0d7;

    }
</style>
<script>
    var owl = $('.owl-carousel');

    owl.owlCarousel({

        items: 1,

        loop: true,

        margin: 10,

        autoplay: true,

        autoplayTimeout: 5000,

        autoplayHoverPause: true

    });

    $('.play').on('click', function () {

        owl.trigger('play.owl.autoplay', [5000])

    })

    $('.stop').on('click', function () {

        owl.trigger('stop.owl.autoplay')

    })
</script>
<script src="https://www.potencialbci.cl/front/script/canvas/jquery.js" type="text/javascript"></script>
<script src="https://www.potencialbci.cl/front/script/canvas/plugins.js" type="text/javascript"></script>
<script src="https://www.potencialbci.cl/front/script/canvas/functions.js" type="text/javascript"></script>
</body> </html>