<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="UFalabella is a modern presentation HTML5 Portfolio HTML Template.">
    <meta name="keywords" content="HTML5, Template, Design, portfolio, Litmus, Single portfolio">
    <meta name="author" content="tortoizthemes">
    <title>Mi Viaje</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cPoppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="views/templates/falabella/assets\css\plugins.min.css">
    <link rel="stylesheet" href="views/templates/falabella/assets\css\icons.min.css">
    <link rel="stylesheet" href="views/templates/falabella/assets\revolution\fonts\pe-icon-7-stroke\css\pe-icon-7-stroke.css">
    <link rel="stylesheet" href="views/templates/falabella/assets\css\style.css">
    <link href="bootstrap/css/empresa/falabella.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="views/templates/falabella/assets\revolution\css\settings.css">
    <link rel="stylesheet" type="text/css" href="views/templates/falabella/assets\revolution\css\layers.css">
    <link rel="stylesheet" type="text/css" href="views/templates/falabella/assets\revolution\css\navigation.css">
    <script src="views/templates/falabella/assets\js\modernizr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="script/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="script/slick/slick-theme.css" />
    <link href="fonts/helveticaneue.css" rel="stylesheet" type="text/css">
    <link href="fonts/roboto.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/normalize.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/main.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/solido.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/isotope.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="https://gopartners.cl/rod/solido/css/vegas/jquery.vegas.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/popup/magnific-popup.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/js/superslides-0.6.2/dist/stylesheets/superslides.css">
    <!-- Colors Style -->
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/color/dark.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/color/black.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/color/green.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/color/red.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/color/yellow.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/color/purple.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/color/turquoise.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/color/orange.css">
    <link rel="stylesheet" href="https://gopartners.cl/rod/solido/css/color/blue.css">
    <script src="https://gopartners.cl/rod/solido/js/vendor/modernizr-2.6.2.min.js"></script>
    <link href="fonts/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="fonts/raleway.css" rel="stylesheet" type="text/css">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
    <script type="text/javascript" src="script/jquery.min.js"></script>
    <script type="text/javascript" src="script/jquery.migrate.min.js"></script>
    <link href="bootstrap/css/empresa/falabella.css" rel="stylesheet">
    <script src="js/sweetalerts/sweetalert.js"></script>
    <link href="js/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css">
    <link href="fonts/open-sans.css" rel="stylesheet" type="text/css">
    <link href="https://gcloud.cl/front/script/video_js/video-js.css" rel="stylesheet">
    <!-- If you'd like to support IE8 -->
    <script src="https://gcloud.cl/front/script/video_js/videojs-ie8.min.js"></script>
    <script src="https://gcloud.cl/front/script/video_js/video.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>